//colors

//Primary
$sign-up-bg: hsl(217, 28%, 15%); //intro and email sign up background
$mb:hsl(218, 28%, 13%); //main background
$footer-bg: hsl(216, 53%, 9%); //footer background
$ts-b: hsl(219, 30%, 18%); //testimonials background

//Accent
$cta-cyan: rgb(101, 226, 217); //call-to-action gradient cyan
$cta-blue: rgb(51, 158, 204); //call-to-action gradient blue
//Neutral
$n-white: hsl(0, 0%, 100%);


//fonts

$s-14: 14px;
$w-light: 400;
$w-bold: 700;

//Layout
$mobile-width: 375px;
$descktop-width: 1440px;
